<div id="siteInfo">
    <div id="siteInfoContent">
        <ul>
          <li><a href="@Url.Content("~/")">Principal</a></li>
          <li><a href="@Url.Content("~/sobre")">Sobre</a></li>
          <li><a href="@Url.Content("~/contactos")">Contacte-nos</a></li>
        </ul>
    </div>
</div>
